.category {
    display: inline-block;
    float: left;
}

.category > div > a, .category > div > a:visited {
    vertical-align: sub;
    font-size: 0.5em;
    color: #eeeeee;
    text-decoration: none;
}