.id {
    font-weight: bolder;
    float: left;
}

.id::after {
    content: '+';
    font-size: 0.5em;
    vertical-align: middle;
    display: inline-block;
}

.id:hover > div{
    width: auto;
}

.id:hover::after{
    content: '';
}

.id > div {
    width: 74px;
    height: 1em;
    word-break: break-all;
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
}

.id > div > svg {
    display: inline;
}

.id > div > span{
    display: inline;
    font-size: 0.5em;
}